NEXT_PUBLIC_USE_MOCK=true
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_OPENAI_API_KEY=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